
body {
    text-align: center;
    width: 100%;
    padding-top: 45px;
}
header {
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.title {
    padding-top: 10px;
    text-align: center;
}

.nav-logo {
    font-family: Bonbon;
    font-weight: 400;
    font-style: normal;
    width: 32px;
    height: 25px;
}
/* display errors in red */
.error {
    color: #FF0000;
    font-size: 9pt;
    margin-left: 0;
}

.results {
    padding-top: 20px;
}

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

footer {
    position: absolute;
    text-align: center;
    background-color: #d66000;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 10px;

}
/* End Sticky Footer */

/* responsive design for header to not be covered by navbar when viewing on mobile */
@media only screen and (max-width: 500px) {
    header {
        padding-top: 5px;
        margin-top: 5px;
    }
}
